/*Text and button section*/
.text-btn {
	min-height: 500px;
	background-image: url('../../img/men-computer.png');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	background-color: #3c4955;
}

.text-btn__info {
	width: 50%;
	padding-right: 13.5%;
	font-size: 30px;
	float: right;
	clear: left;
	color: white;
}
@media only screen and (max-width: 991px){
	.text-btn__info{
		width: 100%;
		padding: 0 15px;
	}
}

.text-btn__info--v-align {
	display: table-cell;
	height: 500px;
	vertical-align: middle;
}

.title {

}

.text-btn__subtitle {
	font-size: 22px;
	font-weight: 400;
	margin-bottom: 40px;

}

.text-btn__text {
	height: 140px;
	overflow: hidden;
	line-height: 25px;
	font-size: 16px;
	margin-bottom: 40px;

}